<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Request price by group</h1>
    <form>
        <input type="hidden" name="referrer">
        <input type="text" id="fieldName" name="name">
        <input type="text" name="groupSize">
        <input type="email" name="email">
        <input type="submit" value="Submit">
    </form>
    {{#section 'jquery'}}
        <script>
            $(document).ready(function(){
               $('input[name="referrer"]').val(document.referrer);
            });
        </script>
    {{/section}}
</body>
</html>